
{% extends 'login.html' %}
{% load static %}

{% block contenido1 %}

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">

  <div class="form">
      
      
      <div class="tab-content">
        <h1>Recuperar Contrasena</h1>
          <form>
            <div class="field-wrap">
			 {% if validlink %}

			<h1>Nueva Contrasena</h1>

			<form>
				{% csrf_token %}
				{{ form.new_password1.errors }}
				<label for="id_new_password1">Nueva Contrasena</label>{{ form.new_password1 }}
				<br>
				<br>

				{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirme Contrasena</label>{{ form.new_password2 }}
				<br>
				<br>
				<p><input type="submit" value="Change my password" /></p>	
			</form>
			{% else %}

			<h1 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA SE HA UTILIZADO</h1>

			{% endif %}
            </div>
          </form>  
      </div><!-- tab-content -->
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>


{% endblock %}