{% extends 'login.html' %}
{% load static %}

{% block contenido1 %}

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">

  <div class="form">
      
      
      <div class="tab-content">
        <h1>Recuperar Contrasena</h1>
          <form  method="post">

            {% csrf_token %}
            
            <div class="field-wrap">
              <label for="id_email">Correo:</label> {{ form.email}}
              <br>
              <input class="button button-block" type="submit" value="Enviar">
            </div>
          </form>  
      </div><!-- tab-content -->
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>



<form method="post">
	{% csrf_token %}
	
	
	
</form>

{% endblock %}