{% extends 'Principal/base.html' %}
{% block navbar %}
{% end block %}
{% block contenido1 %}

{% if validlink %}

<h1>Nueva Contrasena</h1>

<form>
	{% csrf_token %}
	{{ form.new_password1.errors }}
	<label for="id_new_password1">Nueva Contrasena</label>
	{{ form.new_password1 }}

	{{ form.new_password2.errors }}
	<label for="id_new_password2">Confirme Contrasena</label>
	{{ form.new_password2 }}
	<input type="submit" value="Cambiar mi contrasena"/>	
</form>
{% else %}

<h1 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA SE HA UTILIZADO</h1>

{% endif %}

{% endblock %}