{% extends 'Principal/base.html' %}
{% block navbar %}
{% end block %}
{% block contenido1 %}

<p>Recuperar Contrasena</p>

<form method="post">
	{% csrf_token %}
	<label for="id_email">Correo:</label> {{ form.email}}
	<input type="submit" value="Enviar">
	
</form>

{% endblock %}