{% extends 'Principal/base.html' %}
{% block navbar %}
{% endblock %}
{% block contenido1 %}

<h1 class="text-center">Su contrasena se restablecio correctamente</h1>

<p class="text-center"><a href="{% url 'login' %}">Iniciar Sesion</a></p>

{% endblock %}