{% extends 'Principal/base.html'%}
{% load static %}

{% block staticos%}

{% endblock %}

{% block menu%}

{% endblock %}

{% block contenido1 %}

  <div class="form">
      <ul class="tab-group">
        <li class="tab "><a href="{% url 'cliente' %}">Registrarse</a></li>
        <li class="tab active"><a href="{% url 'Autentificacion' %}">Iniciar Secion</a></li>
      </ul>
      
      <div class="tab-content">
        <h1>Inicio de sesion</h1>
          <form  method="post">

            {% csrf_token %}
            
            <div class="field-wrap">
              <label name="username">
                Usuario<span class="req">*</span>
              </label>
              <input name="username" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="password">
              Contrasena<span class="req">*</span>
            </label>
            <input name="password" type="password" required autocomplete="off"/>
            </div>
            
            <br>
            <p class="forgot"><a href="#">Olvidaste tu contrasena?</a></p>

            <button class="button button-block" type="submit">Iniciar Sesion</button>
          </form>  
      </div><!-- tab-content -->
      
</div> <!-- /form -->
{% endblock %}

{% block footer%}

{% endblock %}