<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>

{% block title%}
<title>Hosteria "EL REMANSO"</title>
{% endblock %} 

{% block staticos%}
{% endblock staticos%}
    
	<meta name="description" content="Colosseum Hotel is a responsive Hotel and Resort HTML template.">
	<meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
	<meta name="author" content="Joseph a, ravistheme@gmail.com">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="../../static/images/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic%7cPlayfair+Display:400,700%7cGreat+Vibes'
		  rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
	<meta http-equiv="Content-Type" content="text/html" />
	<script type="text/javascript" src="{% static 'js/jquery.core.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.superfish.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.jcarousel.pack.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jssor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jssor.slider.js' %}"></script>

</head>
<body class="home-page-1">
	<div id="wrap">
    <div class="top_corner"></div>
    <div id="main_container">
        
{% block header%}
{% endblock %}

{% block menu%}
<!--
#Menu
-->
	<div class="main-wrapper">
		<!-- Header Section -->
		</div>
		<header id="main-header">
			<div class="inner-container container">
				<div class="l-sec col-xs-8 col-sm-6 col-md-3">
					<a href="#" id="t-logo">
					<img class="img-responsive" src="{% static 'images/logo.png' %}">
						<!-- <span class="desc">Hostería</span>
						<span class="title">El REMANSO</span> -->
					</a>
				</div>
				<div class="r-sec col-xs-4 col-sm-6 col-md-9">
					<nav id="main-menu">
						<ul class="list-inline">
							<li class="active"><a href="/">Inicio</a>
							</li>
							<li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
							</li>
							<li><a href="{% url 'habitaciones' %}">Habitaciones</a>
							</li>
							<li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
							</li>
							<li><a href="{% url 'mostrar_galeria' %}">Galería</a>
							</li>
							<li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
						</ul>
					</nav>
					<div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
					<a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
				</div>
			</div>
			<div id="mobile-menu-container"></div>
		<!-- End of Header Section --> 
		</header> 
	</div>	
{% endblock %}

{% block slide%}
{% endblock %}

{% block contenido1%}
{% endblock %}

{% block contenido2%}
{% endblock %}

{% block contenido3%}
{% endblock %}
           
{% block contenido4%}
{% endblock %}                 
  
{% block footer%}
		<!--Footer Section-->
		<footer id="main-footer">
			<div class="inner-container container">
				<div class="t-sec clearfix">
					<div class="widget-box col-sm-2 col-md-2">
						<div class="widget-content text-widget">
						<a href="#" id="t-logo">
						<img class="img-responsive" src="{% static 'images/logo.png' %}">
						<!-- <span class="desc">Hostería</span>
						<span class="title">El REMANSO</span> -->
						</a>
						</div>
					</div>
					<div class="widget-box col-sm-6 col-md-6">
						<h4 class="title" ALIGN=center>Te Esperamos</h4>
						<div class="widget-content newsletter">
							<div class="desc">
							<h3 ALIGN=center>Ven y disfruta con nosotros en este paradiciaco clima de la parroquia Malacatos.</h3>
							</div>
						</div>
					</div>
					<div class="widget-box col-sm-4 col-md-4">
						<h4 class="title">Contactos</h4>
						<div class="widget-content contact">
							<ul class="contact-info">
								<li>
									<i class="fa fa-home"></i>
									Entre Landangui y Taxiche (Sector Taxiche)
								</li>
								<li>
									<i class="fa fa-phone"></i>
									* 07 2572229 * 07 267440 * 0997535280 *
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									elremansohosteria@gmail.com
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-sec clearfix">
					<div class="copy-right">
						With <i class="fa fa-heart"></i> by <a href="http://ravistheme.com"
															   target="_blank">RavisTheme</a> © 2016. All Rights
						Reserved.
					</div>
					<ul class="social-icons list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
{% endblock %}   

</div>
</div>
</div>
</body>

</html>