<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <title>El Remanso HOSTERIA</title>
   <meta charset="utf-8">
    <title>Bienvenida</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/css/bienvenida.css" rel="stylesheet">
</head>
<body>
{% block contenido1%}

{% load auth_extras %}

{% if request.user|has_group:"Administrador" %}
  <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="img/logo.png"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
            Bienvenido {{user.username|capfirst}}
          </h1>
          <p class="tagline">
            Para administrar dale clic Ingresar.
          </p>
          <a class="btn btn-full" href="{% url 'administracion' %}">Ingresar</a>
        </div>
      </div>
    </section>
{% endif %}

{% if request.user|has_group:"Usuario" %}
  <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="img/logo.png"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
            Bienvenido {{user.username|capfirst}}
          </h1>
          <p class="tagline">
            Para Usuario dale clic Ingresar.
          </p>
          <a class="btn btn-full" href="{% url 'administracion' %}">Ingresar</a>
        </div>
      </div>
    </section>
{% endif %}

{% if request.user%}
  <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="img/logo.png"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
            Bienvenido {{user.username|capfirst}}
          </h1>
          <p class="tagline">
            Para realizar reservaciones dale clic Ingresar.
          </p>
          <a class="btn btn-full" href="{% url 'reservacion' %}">Ingresar</a>
        </div>
      </div>
    </section>
{% endif %}

    <script src="../../static/js/bootstrapbienvenida.min.js"></script>  

{% endblock %}

</body>
</html>




