{% extends 'Principal/base.html'%}
{% load static %}

{% block login%}

{% endblock %}

{% block menu%}

{% endblock %}

<p>
		<h1>	EJEMPLOS DE CLIENTE</h1>
	</p>

{% block contenido1%}
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	
	<button type="submit">Guardar</button>
	
</form>
{% endblock %}


{% block contenido2 %}
<h1>TABLAS</h1>
	<p>
	<h2>	Lista de Clientes </h2>
	</p>
	<table class="table table-bordered" >
	<tr class="success">
			
			<th><strong>Nombres</strong></th>
			<th><strong>Cedula</strong></th>
			<th><strong>Direccion</strong></th>
			<th><strong>Telefono</strong></th>
			
	</tr>
{% for objeto in lista %}
	<tr class="info">
		<td>{{ objeto.nombres }}</td>
		<td>{{ objeto.cedula_Ruc }}</td>
		<td>{{ objeto.direccion }}</td>
		<td>{{ objeto.telefono }}</td>
		</td>
	</tr>
{% endfor %}
	</table>

{% endblock contenido2 %}


{% block contenido3%}
{% for objeto in lista %}
         <div>          
         {% if objeto.nombre %}{% endif %}
         </div>
            {% endfor %}
{% endblock %}