{% extends 'Principal/base.html'%}
{% load staticfiles %}


{% block login%}
{% endblock login%}

{% block menu%}
<!--#Menu-->
    {% if user.is_authenticated %}       
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="logout-inicio pull-right">
                    <ul class="list-inline">
                        <li><a href="#"><h4>Hola {{user.username|capfirst}}</h4></a> 
                        </li>
                        <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" fa-2x aria-hidden="true"></i></a> 
                        </li> 
                    </ul>  
                </div>
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li class="active"><a href="/">Inicio</a>
                                </li>
                                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'reservacion' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                        
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
        </div> 


    {% else %}
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li ><a href="/">Inicio</a>
                                </li>
                                <li ><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li class="active"><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
    </div> 

    {% endif %}
    
{% endblock %}

{% block contenido2%}
<!--Contact Section-->
		<section id="contact-section">
			<div class="inner-container container">
				<div class="t-sec">
					<div class="ravis-title-t-2">
						<div class="title"><span>Contactos</span></div>
					</div>
					<div class="contact-info">
						<div class="field-row">
							<div class="col-md-4">
								<div class="contact-inf-box">
									<div class="icon-box">
										<i class="fa fa-home"></i>
									</div>
									<div class="text">
										Entre Landangui y Taxiche (Sector Taxiche)
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="contact-inf-box">
									<div class="icon-box">
										<i class="fa fa-envelope"></i>
									</div>
									<div class="text" ALIGN=center>
									elremansohosteria@gmail.com
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="contact-inf-box">
									<div class="icon-box">
										<i class="fa fa-phone"></i>
									</div>
									<div class="text">
										07 2572229  
										<br>07 267440  
										<br>0997535280
									</div>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				<div class="b-sec clearfix">
					<div class="contact-form col-md-6">
							<form method="post">
							{% csrf_token %}
								<div class="field-row">
								<input type="text" name="nombresInvitado" id="contact-name" placeholder="Nombres :" required>
								</div>
								<div class="field-row">
									<input type="text" name="celular" id="contact-phone" placeholder="Telefono :">
								</div>
								<div class="field-row">
									<input type="email" name="correo" id="contact-email" placeholder="Correo :" required>
								</div>
								<div class="field-row">
									<textarea placeholder="Tu mensaje" name="mensaje" id="contact-message" required></textarea>
								</div>
								<br>
								<div class="message-box"></div>
									<div class="field-row">
										<input type="submit" value="Enviar"></div>	
							</form>						
					</div>
					<div class="embed-responsive col-md-6 text-center">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.0176848751016!2d-79.23597904904572!3d-4.216807196919438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb2f177e3d64eb%3A0x784ac4368c168398!2sEl+Remanso!5e0!3m2!1ses-419!2sus!4v1499682310761" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
		<!--End of Contact Section-->
	
	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>

{% endblock %}



