{% extends 'Principal/administracion/index.html' %}
{% load static %}

{% block contenido3%}
<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <form method = "POST" action=''>
            {% csrf_token %} 
            <h3>Datos para Autentificacion</h3>
            <div class="form-group">          
             <label name="username">Usuario<span class="req">*</span>
            </label>
            <input class="form-control" name="username" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="password">
            Contrasena<span class="req">*</span>
            </label>
            <input class="form-control" name="password" type="password" required autocomplete="off"/>
            </div>
            <h3>Datos Personales</h3>
            <div class="field-wrap">
             <label name="nombreCompleto">Nombres y Apellidos<span class="req">*</span>
            </label>
            <input class="form-control" name="nombreCompleto" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
             <label name="CI_Ruc">Cedula o RUC<span class="req">*</span>
            </label>
            <input class="form-control" name="CI_Ruc" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="email">Correo<span class="req">*</span>
            </label>
            <input class="form-control" name="email" type="text" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
             <label name="telefono">Telefono<span class="req">*</span>
            </label>
            <input class="form-control" name="telefono" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="direccion">Direccion<span class="req">*</span>
            </label>
            <input class="form-control" name="direccion" type="text" required autocomplete="off"/>
            </div>
            <br>
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">Cancelar</a>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Confirmacion</h4>
                            </div>
                            <div class="modal-body">
                                            Desea salir de "Crear Cliente" ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-success"><a href="{% url 'cliente' %}">Si</a> </button>
                            </div>
                    </div>
                </div>
            </div>

            <input class="btn btn-success" type="submit" value="Guardar">
          </form>    	        
      </div><!-- tab-content --> 
</div> <!-- /form -->
</div>
{% endblock %}

