{% extends 'Principal/administracion/index.html' %}
{% load static %}

{% block contenido3%}
<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <form method = "POST" action=''>
            {% csrf_token %} 
            {{ form.as_p }}
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">Cancelar</a>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Confirmacion</h4>
                            </div>
                            <div class="modal-body">
                                            Desea salir de "Crear Servicio" ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-success"><a href="{% url 'servicio' %}">Si</a> </button>
                            </div>
                    </div>
                </div>
            </div>

            <input class="btn btn-success" type="submit" value="Guardar">
          </form>    	        
      </div><!-- tab-content --> 
</div> <!-- /form -->
</div>
{% endblock %}