{% extends 'Principal/administracion/index.html' %}
{% load static %}


{% block contenido3 %}
<div class="panel-body">
  <h3>Editar Imagen</h3>
    <div class="row">
        <div class="col-md-4">
            <form method = "POST" action='' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar Cambios">
          </form>
        </div>
  </div>
</div>


{% endblock %}

