{% extends 'Principal/administracion/index.html'%}
{% load static %}

{% block contenido1%}
 <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
  

   <script type="text/javascript">
    Calcular_totales();

    function Calcular_totales() {

        var cell3= 0;
        $(".cell3").each(function(){
             console.log($(this).text());
             cell3+=parseFloat($(this).text());
        });
        console.log("total de los item"+cell3);

        $("#totales").text(cell3.toFixed(2));

     
    }
    
    $(document).ready(function(){
      
      $("#anidir").click(function(){
        var tipo = $("#tipos");
        var texto = $("#tipos option:selected").text();
        var tabla = document.getElementById("tabla");
        
        if(tabla.rows.length == 0) {
          
          agregarFila(tabla, texto);

        }else{
          //alert('dos');
          var aux = texto.split(' - ');
          var arreglo = recorrerTabla(tabla);
          var pos = buscar(tabla, texto);
          if(pos == -1) {
            agregarFila(tabla, texto);
          }else{
            var auxP = arreglo[pos];
            
            auxP[0] = (auxP[0]*1) + 1;
            auxP[3] = (auxP[0]*1) * (auxP[2]*1);
            arreglo[pos] = auxP;
            pintarTabla(tabla, arreglo);
            Calcular_totales();
          }
        }
        
        //datosReserva
      });
      
      function pintarTabla(tabla, arreglo) {
        var data = '';
        var datitos = '';
        for(var i = 0; i < arreglo.length; i++) {
          var aux = arreglo[i];
        
          data = data + "<tr>Cantidad<td>"+aux[0]+"</td>Detalle<td>"+aux[1]+"</td>Valor Unitario<td>"+aux[2]+"</td>Valor Total<td>"+aux[3]+"</td></tr>";
          datitos = datitos + aux[0] + ":" + aux[1]+ ":" + aux[2]+ ":" + aux[3]+";"; 
        }
        tabla.innerHTML = data;
        var hid = document.getElementById("datosReserva");
        hid.value = datitos;
        
      }

      function buscar(tabla, texto) {
        var pos = -1;
        var aux = texto.split(' - ');
        for(var i = 0; i < tabla.rows.length; i++) {
          
          if(tabla.rows[i].cells[1].innerHTML == aux[0]) {
            pos = i;
            break;
          }
        }
        return pos;
      }

      function recorrerTabla(tabla) {
        var arrglo = [];
        for(var i = 0; i < tabla.rows.length; i++) {
          arrglo[i] = [tabla.rows[i].cells[0].innerHTML,tabla.rows[i].cells[1].innerHTML, tabla.rows[i].cells[2].innerHTML];
        }
        return arrglo;
      }

      function agregarFila(tabla, texto) {
        var aux = texto.split(' - ');
        var valor = aux[1].split(',');
        var row = tabla.insertRow(0);
        var cell = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        cell.innerHTML = "1";
        cell1.innerHTML = aux[0];
        cell2.innerHTML = valor[0]+'.'+valor[1];
        cell3.innerHTML = valor[0]+'.'+valor[1];
        var datitos = '';
        datitos = "1"+ ":" + aux[0]+ ":" + valor[0]+'.'+valor[1]+ ":" + valor[0]+'.'+valor[1]+";";
          var hid = document.getElementById("datosReserva");
          hid.value = datitos;
          alert(hid.value);
          Calcular_totales();
      }

    });

  </script>

<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">El Remanso</a> 
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: left;font-size: 16px;"> 
            <button class="btn btn-default"><a href="/"><i class="fa fa-home"></i> Volver a Pagina Principal</button>
            </li>
            </div>

            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;"> 
            <button> <a class="fa fa-bell-o fa-2" href="{% url 'lista_notificacion' %}"></a> </button>
            {% if user.is_authenticated %}
            Hola {{user.username|capfirst}}
            <button class="btn btn-default"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Loguot</button> 
            {% else %}
            <button class="btn btn-default"><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</button>
            {% endif %}</li>
            </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="../../../static/images/logo.png" class="user-image img-responsive"/>
                    </li>


                    {% load auth_extras %}

                    {% if request.user|has_group:"Administrador" %}

                    <li>
                        <a  href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li>
                    <li>
                        <a  href="{% url 'usuario_administracion' %}"><i class="fa fa-users fa-3x"></i>Adm. Usuarios</a>
                    </li>  
                    <li>
                        <a  href="{% url 'cliente' %}"><i class="fa fa-users fa-3x"></i>Adm. Clientes</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bed fa-3x"></i>Adm. Habitacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tipo_habitacion' %}">Tipo de Habitacion</a>
                            </li>
                            <li>
                                <a href="{% url 'habitacion' %}">Habitacion</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cutlery fa-3x" ></i>Adm. Servicio<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tipo_servicio' %}">Tipo de Servicio</a>
                            </li>
                            <li>
                                <a href="{% url 'servicio' %}">Servicio</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a class="active-menu"   href="{% url 'consultar_factura' %}"><i class="fa fa-calculator fa-3x"></i> Facturacion</a>                          </li>
                    <li>
                        <a href="{% url 'consultar_reservaciones' %}"><i class="fa fa-book fa-3x" ></i> Reservaciones</a>
                    </li> 
                    <li>
                        <a href="{% url 'imagenes' %}"><i class="fa fa-cog fa-3x"></i> Configuracion</a>
                    </li> 
                      
                    {% else %}

                    {% if request.user|has_group:"Usuario" %}

                    <li>
                        <a class="active-menu" href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li> 
                    <li>
                        <a href="#"><i class="fa fa-calculator fa-3x"></i> Facturacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'factura' %}">Crear Factura</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book fa-3x" ></i> Reservaciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'reservacion' %}">Crear Reservacion</a>
                            </li>
                        </ul>
                    </li> 

                        {% endif %}
                    {% endif %}
 
                </ul>
               
            </div>
            
        </nav>    
{% endblock %}

{% block contenido2%}
<h1>Facturación </h1>   

{% endblock %}

{% block contenido3%}

<div class="container factura">
    
    <div class="cabeceraFactura">   
        <!--Cabecera Factura Datos de cliente -->
        <div class="row">
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label name="username">CI o RUC<span class="req">*</span></label>
                        <input name="username"required autocomplete="off" class="form-control" />
                    </div>  
                    <div class="form-group">
                        <label name="username">Fecha Actual<span class="req">*</span></label>
                        <input name="username"required autocomplete="off" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label name="username">Nombres Completos<span class="req">*</span></label>
                        <input name="username" required autocomplete="off" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label name="username">Telefono<span class="req">*</span></label>
                        <input name="username" required autocomplete="off" class="form-control"/>
                    </div>  
                </div> 
                <div class="col-md-12">
                    <div class="form-group">  
                        <label name="username">Direccion<span class="req">*</span></label>
                        <input name="username" required autocomplete="off" class="form-control"/>   
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="field-row">
    
              <select name="rooms" class="room-count" id="tipos">                                        
              {% for tipo in object_list %}         
              <option value="{{ tipo.id }}">{{ tipo.nombre }} - {{ tipo.precio }}</option>
              {% endfor %}
        
              </select>
              
    </div>

    <div class="cuerpoFactura">
        <div class="row"> 
            <div class="table-responsive">
            <div class="col-md-12">
            <a href="#" id="anidir">Añadir</a>
              <div id="tablas">
                <table class="table table-bordered" id="tabla"></table>

                <input type="hidden" name="reserva" id="datosReserva" />
              </div>
            </div>
            </div>
        </div>
    </div>
    <hr>

   
    <div class="finalFactura">
        <div class="row">
            <div class="col-md-2 col-md-offset-10 hard">
                <label name="username">Subtotal<span class="req">*</span></label>
                <input />
                         
                <label name="username">Descuento<span class="req">*</span></label>
                <input/>
                           
                <label name="username">IVA 12%<span class="req">*</span></label>
                <input/>
                     
                <label name="username">TOTAL<span class="req">*</span></label>
                <input/> 
            </div>
        </div> 
        <table class="table-responsive">

            <tr>
                <th>Total Reserva</th>
                <td id= "totales"><strong></strong></td>
            </tr>

        </table>       
    </div>
    <br>
    <div class="guardarFactura">
        <div class="row">
            <div class="col-md-2 col-md-offset-10 hard">
                <button type="button" class="btn btn-success btn-lg">Guardar</button>  
            </div>
        </div>        
    </div>
               
</div>

{% endblock %}



{% block footer%}
{% endblock %}



