{% extends 'Principal/base.html'%}
{% load staticfiles %}

{% block staticos%}
{% endblock %}

{% block menu%}
{% endblock %}

 
{% block contenido1%}
<form method="POST" >
	{% csrf_token %}
	{{ form_usuario.as_p }}
    <button class="btn btn-success" type="submit">Iniciar Sesion</button>
  </form>

 {% endblock %}

{% block footer%}
{% endblock %} 