{% extends 'Principal/base.html'%}
{% load staticfiles %}


{% block menu%}
<!--#Menu-->
    {% if user.is_authenticated %}       
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="logout-inicio pull-right">
                    <ul class="list-inline">
                        <li><a href="#"><h4>Hola {{user.username|capfirst}}</h4></a> 
                        </li>
                        <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" fa-2x aria-hidden="true"></i></a> 
                        </li> 
                    </ul>  
                </div>
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li class="active"><a href="/">Inicio</a>
                                </li>
                                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'reservacion' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                        
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
        </div> 


    {% else %}
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li ><a href="/">Inicio</a>
                                </li>
                                <li ><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li ><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li class="active"><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li ><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
    </div> 

    {% endif %}
    
{% endblock %}

{% block contenido1%}
{% endblock %}               

{% block contenido2%}
<section id="rooms-section" class="row-view">
            <div class="inner-container container">
                <div class="ravis-title-t-2">
                    <div class="title"><span>Galeria</span></div>
                </div>
                </div>

<div class="gallery-container">
                    <div class="sort-section">
                        <div class="sort-section-container">
                            <div class="sort-handle">Filters</div>
                            <ul class="list-inline">
                                <li><a href="#" data-filter="*" class="active">Todo</a></li>
                                <li><a href="#" data-filter=".instalaciones">Instalaciones</a></li>
                                <li><a href="#" data-filter=".eventos">Eventos</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="image-main-box clearfix">
                        <li class="item col-xs-6 col-md-4 instalaciones">
                            <figure>
                                <img src="{% static 'images/remanso/restaurant.jpeg' %}" alt="11"/>
                                <a href="{% static 'images/remanso/restaurant.jpeg' %}" class="more-details"
                                   data-title="Restaurant">Enlarge</a>
                                <figcaption>
                                    <h4>Restaurant</h4>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="item col-xs-6 col-md-4 eventos">
                            <figure>
                                <img src="{% static 'images/remanso/piscina.jpeg' %}" alt="11"/>
                                <a href="{% static 'images/remanso/piscina.jpeg' %}" class="more-details"
                                   data-title="Matrimonio">Enlarge</a>
                                <figcaption>
                                    <h4>Matrimonio</h4>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="item col-xs-6 col-md-4 eventos">
                            <figure>
                                <img src="{% static 'images/remanso/restaurant.jpeg' %}" alt="11"/>
                                <a href="{% static 'images/remanso/restaurant.jpeg' %}" class="more-details"
                                   data-title="Bautizo">Enlarge</a>
                                <figcaption>
                                    <h4>Bautizo</h4>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="item col-xs-6 col-md-4 instalaciones">
                            <figure>
                                <img src="{% static 'images/remanso/piscina.jpeg' %}" alt="11"/>
                                <a href="{% static 'images/remanso/piscina.jpeg' %}" class="more-details"
                                   data-title="Neat &amp; Clean Places">Enlarge</a>
                                <figcaption>
                                    <h4>Piscina</h4>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template.js' %}"></script>
{% endblock %}


                    


    