{% extends 'Principal/base.html'%}
{% load static %}

{% block login%}
{% endblock %}

{% block menu%}
<!--#Menu-->
    {% if user.is_authenticated %}       
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="logout-inicio pull-right">
                    <ul class="list-inline">
                        <li><a href="#"><h4>Hola {{user.username|capfirst}}</h4></a> 
                        </li>
                        <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" fa-2x aria-hidden="true"></i></a> 
                        </li> 
                    </ul>  
                </div>
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li class="active"><a href="/">Inicio</a>
                                </li>
                                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'reservacion' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                        
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
        </div> 


    {% else %}
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li ><a href="/">Inicio</a>
                                </li>
                                <li ><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li class="active"><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li ><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
    </div> 

    {% endif %}
    
{% endblock %}

{% block contenido1%}
		<!--Room Section-->
		<section id="rooms-section" class="row-view">
			<div class="inner-container container">
				<div class="ravis-title-t-2">
					<div class="title"><span>Habitaciones</span></div>
				</div>
				<!--MATRIMONIAL -->
				<div class="room-container clearfix">
					<div class="room-box row animated-box" data-animation="fadeInUp">
						<div class="col-md-4 room-img" data-bg-img="{% static 'images/remanso/matrimonial1.jpg' %}">
							<a href="{% url 'habitacion_detalle' %}" class="more-info-url"></a>
						</div>
						<div class="r-sec col-md-8">
							<div class="col-md-6 m-sec">
								<div class="title-box">
									<div class="title">Matrimonial</div>
									<div class="price">
										<div class="title">Una Noche :</div>
										<div class="value">$45</div>
									</div>
								</div>
								<div class="amenities">
									<ul class="list-inline clearfix">
										<li class="col-md-6">
											<div class="title">Desayuno :</div>
											<div class="value">Incluido</div>
										</li>
										<li class="col-md-6">
											<div class="title">Room Size :</div>
											<div class="value">60 sqm</div>
										</li>
										<li class="col-md-6">
											<div class="title">Max People :</div>
											<div class="value">2</div>
										</li>
										<li class="col-md-6">
											<div class="title">View :</div>
											<div class="value">Sea</div>
										</li>
										<li class="col-md-12">
											<div class="title">Facilities :</div>
											<div class="value">Free Wifi, Free Mini Bar, Room Security</div>
										</li>
									</ul>
								</div>
								<a href="{% url 'habitacion_detalle' %}" class="more-info">More Info</a>
							</div>
							<div class="col-md-6 desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
								illum
								provident, quas qui quisquam quod sint velit voluptate voluptatum. Ad aperiam aspernatur
								atque aut consequatur distinctio earum ex fuga fugit hic impedit iure libero minima
								molestiae nihil obcaecati officia perferendis perspiciatis possimus, quam qui quibusdam
								quidem reiciendis rem repellendus, sint tempora veniam vero voluptas voluptatum.
							</div>
						</div>
					</div>
					<!--DOBLE -->
					<div class="room-box row animated-box" data-animation="fadeInUp">
						<div class="col-md-4 room-img" data-bg-img="{% static 'images/remanso/doble.jpg' %}">
							<a href="{% url 'habitacion_detalle' %}" class="more-info-url"></a>
						</div>
						<div class="r-sec col-md-8">
							<div class="col-md-6 m-sec">
								<div class="title-box">
									<div class="title">Doble</div>
									<div class="price">
										<div class="title">Starting from :</div>
										<div class="value">$350</div>
									</div>
								</div>
								<div class="amenities">
									<ul class="list-inline clearfix">
										<li class="col-md-6">
											<div class="title">Breakfast :</div>
											<div class="value">Included</div>
										</li>
										<li class="col-md-6">
											<div class="title">Room Size :</div>
											<div class="value">80 sqm</div>
										</li>
										<li class="col-md-6">
											<div class="title">Max People :</div>
											<div class="value">6</div>
										</li>
										<li class="col-md-6">
											<div class="title">View :</div>
											<div class="value">Garden</div>
										</li>
										<li class="col-md-12">
											<div class="title">Facilities :</div>
											<div class="value">Free Wifi, Free Mini Bar, Room Security</div>
										</li>
									</ul>
								</div>
								<a href="{% url 'habitacion_detalle' %}" class="more-info">More Info</a>
							</div>
							<div class="col-md-6 desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
								illum
								provident, quas qui quisquam quod sint velit voluptate voluptatum. Ad aperiam aspernatur
								atque aut consequatur distinctio earum ex fuga fugit hic impedit iure libero minima
								molestiae nihil obcaecati officia perferendis perspiciatis possimus, quam qui quibusdam
								quidem reiciendis rem repellendus, sint tempora veniam vero voluptas voluptatum.
							</div>
						</div>
					</div>
					<!--TRIPLE -->
					<div class="room-box row animated-box" data-animation="fadeInUp">
						<div class="col-md-4 room-img" data-bg-img="{% static 'images/remanso/triple3.jpg' %}">
							<a href="{% url 'habitacion_detalle' %}" class="more-info-url"></a>
						</div>
						<div class="r-sec col-md-8">
							<div class="col-md-6 m-sec">
								<div class="title-box">
									<div class="title">Triple</div>
									<div class="price">
										<div class="title">Starting from :</div>
										<div class="value">$450</div>
									</div>
								</div>
								<div class="amenities">
									<ul class="list-inline clearfix">
										<li class="col-md-6">
											<div class="title">Breakfast :</div>
											<div class="value">Included</div>
										</li>
										<li class="col-md-6">
											<div class="title">Room Size :</div>
											<div class="value">60 sqm</div>
										</li>
										<li class="col-md-6">
											<div class="title">Max People :</div>
											<div class="value">3</div>
										</li>
										<li class="col-md-6">
											<div class="title">View :</div>
											<div class="value">Sea</div>
										</li>
										<li class="col-md-12">
											<div class="title">Facilities :</div>
											<div class="value">Free Wifi, Free Mini Bar, Room Security</div>
										</li>
									</ul>
								</div>
								<a href="{% url 'habitacion_detalle' %}" class="more-info">More Info</a>
							</div>
							<div class="col-md-6 desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum eius eos fugiat illo
								illum
								provident, quas qui quisquam quod sint velit voluptate voluptatum. Ad aperiam aspernatur
								atque aut consequatur distinctio earum ex fuga fugit hic impedit iure libero minima
								molestiae nihil obcaecati officia perferendis perspiciatis possimus, quam qui quibusdam
								quidem reiciendis rem repellendus, sint tempora veniam vero voluptas voluptatum.
							</div>
						</div>
					</div>
					
				<!-- Pagination -->
				<div class="pagination-box">
					<ul class="list-inline">
						<li><a href="{% url 'habitaciones'%}"><span>1</span></a></li>
						<li class="active"><a href="#"><span>2</span></a></li>
						
					</ul>
				</div>
				<!-- End of Pagination -->

			</div>
		</section>
		<!--End of Room Section-->

	</div>

	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>


{% endblock contenido1%}