<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>

{% block title%}
<title>Hosteria "EL REMANSO"</title>
{% endblock %} 

{% block staticos%}
{% endblock staticos%}

	<meta charset="UTF-8">
	<!-- Website's title ( it will be shown in browser's tab ), Change the website's title based on your Hotel information -->
	<meta name="description" content="Colosseum Hotel is a responsive Hotel and Resort HTML template.">
	<!-- Add your Hotel short description -->
	<meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
	<!-- Add some Keywords based on your Hotel and your business and separate them by comma -->
	<meta name="author" content="Joseph a, ravistheme@gmail.com">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic%7cPlayfair+Display:400,700%7cGreat+Vibes'
		  rel='stylesheet' type='text/css'><!-- Attach Google fonts -->

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body class="room-detials">
	<div class="main-wrapper">

{% block menu%}
<!--#Menu-->
    {% if user.is_authenticated %}       
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="logout-inicio pull-right">
                    <ul class="list-inline">
                        <li><a href="#"><h4>Hola {{user.username|capfirst}}</h4></a> 
                        </li>
                        <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" fa-2x aria-hidden="true"></i></a> 
                        </li> 
                    </ul>  
                </div>
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li class="active"><a href="/">Inicio</a>
                                </li>
                                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'reservacion' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                        
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
        </div> 


    {% else %}
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li ><a href="/">Inicio</a>
                                </li>
                                <li ><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li class="active"><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li ><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
    </div> 

    {% endif %}
    
{% endblock %}


{% block contenido2%}
<section id="room-top-section">
			<!-- Event Slider -->
			<section id="room-slider">
				<div class="items">
					<div class="img-container" data-bg-img="{% static 'images/remanso/MatrimonialDetalle.jpeg' %}"></div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="{% static 'images/remanso/ArmarioDetalle.jpeg' %}"></div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="{% static 'images/remanso/BanoDetalle.jpeg' %}"></div>
				</div>
				<div class="items">
					<div class="img-container" data-bg-img="{% static 'images/remanso/MatrimonialDetalle2.jpeg' %}"></div>
				</div>
			</section>
			<!-- End of Event Slider -->
			<div class="inner-container container">
				<div class="room-title-box">
					<h1 class="title">Habitacion Matrimonial</h1>
					<div class="price">
						<div class="title">Starting from :</div>
						<div class="value">$50 por Noche</div>
					</div>
				</div>
			</div>
		</section>

		<section class="room-desc">
			<div class="inner-container container">
				<div class="l-sec col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="amenities">
								<ul class="list-inline clearfix">
									<li class="col-md-6">
										<div class="title">Desayuno :</div>
										<div class="value">Incluido</div>
									</li>
									<li class="col-md-6">
										<div class="title">Room Size :</div>
										<div class="value">2 plazas</div>
									</li>
									<li class="col-md-6">
										<div class="title">Max Personas :</div>
										<div class="value">2</div>
									</li>
									<li class="col-md-6">
										<div class="title">View :</div>
										<div class="value">Sea</div>
									</li>
									<li class="col-md-12">
										<div class="title">Facilities :</div>
										<div class="value">Free Wifi, Free Mini Bar, Room Security</div>
									</li>
								</ul>
							</div>	
						</div>
						<div class="col-md-12">
							<div class="icons-container" ALIGN=center>
								<ul class="list-inline">
									<li><i class="ravis-icon-hotel-tv"></i></li>
									<li><i class="ravis-icon-towel-on-hanger"></i></li>
									<li><i class="ravis-icon-swimming-pool-sign"></i></li>
									<li><i class="ravis-icon-surveillance-camera"></i></li>
									<li><i class="ravis-icon-hotel-left-luggage"></i></li>
									<li><i class="ravis-icon-hair-dryer"></i></li>
									<li><i class="ravis-icon-fast-food-burger-and-drink"></i></li>
								</ul>
							</div>	
						</div>
					</div>
					<div class="description">
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio error ex explicabo
							fugiat libero, maxime molestias nostrum odit, officia quia recusandae, soluta velit! Ab
							aspernatur cupiditate doloremque, in iusto optio ratione rerum soluta. Atque culpa ea eaque
							eligendi expedita necessitatibus repellat sed tempore veniam voluptatum! Assumenda cum eius
							exercitationem expedita facere iusto laudantium necessitatibus nisi odit officiis quam quod
							rem reprehenderit sint tenetur vitae, voluptatibus. Amet atque commodi consectetur
							consequatur dicta dolor doloremque enim eum expedita, harum illo illum iure iusto mollitia
							nam nisi nobis omnis perferendis possimus sequi veniam vitae voluptas. Accusantium animi
							consectetur delectus sunt totam veniam voluptate.
						</p>
					</div>
				</div>
			</div>
		</section>
{% endblock %}

{% block contenido3%}
<!--Other Rooms Section-->
		<section id="other-rooms">
			<div class="inner-container container">
				<div class="ravis-title">
					<div class="inner-box">
						<div class="title">Otras</div>
						<div class="sub-title">Habitaciones</div>
					</div>
				</div>
				<div class="room-container clearfix">
					<div class="room-box col-xs-6 col-md-4 animated-box" data-animation="fadeInUp">
						<div class="inner-box" data-bg-img="{% static 'images/gallery/1.jpg' %}">
							<a href="room-details.html" class="more-info"></a>
							<div class="caption">
								<div class="title">Simple</div>
								<div class="price">
									<div class="title">Starting from :</div>
									<div class="value">$25 x Persona</div>
								</div>
								<div class="desc">
									<div class="inner-box">
										Capacidad Maxima 1 personas.
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="room-box col-xs-6 col-md-4 animated-box" data-animation="fadeInUp" data-delay="300">
						<div class="inner-box" data-bg-img="{% static 'images/gallery/2.jpg' %}">
							<a href="room-details.html" class="more-info"></a>
							<div class="caption">
								<div class="title">Doble</div>
								<div class="price">
									<div class="title">Starting from :</div>
									<div class="value">$25 x Persona</div>
								</div>
								<div class="desc">
									<div class="inner-box">
										Capacidad Maxima 2 personas.
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="room-box col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-4 animated-box" data-animation="fadeInUp" data-delay="600">
						<div class="inner-box" data-bg-img="{% static 'images/gallery/3.jpg' %}">
							<a href="room-details.html" class="more-info"></a>
							<div class="caption">
								<div class="title">Triple</div>
								<div class="price">
									<div class="title">Starting from :</div>
									<div class="value">$25 x Persona</div>
								</div>
								<div class="desc">
									<div class="inner-box">
										Capacidad Maxima 3 personas.
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!--End of Other Rooms Section-->
{% endblock %}


           
{% block contenido4%}
{% endblock %}                 
  
{% block footer%}
		<!--Footer Section-->
		<footer id="main-footer">
			<div class="inner-container container">
				<div class="t-sec clearfix">
					<div class="widget-box col-sm-2 col-md-2">
						<div class="widget-content text-widget">
						<a href="#" id="t-logo">
						<img class="img-responsive" src="{% static 'images/logo.png' %}">
						<!-- <span class="desc">Hostería</span>
						<span class="title">El REMANSO</span> -->
						</a>
						</div>
					</div>
					<div class="widget-box col-sm-6 col-md-6">
						<h4 class="title" ALIGN=center>Te Esperamos</h4>
						<div class="widget-content newsletter">
							<div class="desc">
							<h3 ALIGN=center>Ven y disfruta con nosotros en este paradiciaco clima de la parroquia Malacatos.</h3>
							</div>
						</div>
					</div>
					<div class="widget-box col-sm-4 col-md-4">
						<h4 class="title">Contactos</h4>
						<div class="widget-content contact">
							<ul class="contact-info">
								<li>
									<i class="fa fa-home"></i>
									Entre Landangui y Taxiche (Sector Taxiche)
								</li>
								<li>
									<i class="fa fa-phone"></i>
									* 07 2572229 * 07 267440 * 0997535280 *
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									elremansohosteria@gmail.com
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-sec clearfix">
					<div class="copy-right">
						With <i class="fa fa-heart"></i> by <a href="http://ravistheme.com"
															   target="_blank">RavisTheme</a> © 2016. All Rights
						Reserved.
					</div>
					<ul class="social-icons list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
{% endblock %}   

</div>
<!-- JS Include Section -->
	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
</body>

</html>









