<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notificaciones</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="../../../static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="../../../static/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
        <!-- CUSTOM STYLES-->
    <link href="../../../static/assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="../../../static/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
 <div id="wrapper">   

<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">El Remanso</a> 
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;"> 
            Hola {{user.username|capfirst}}
            <button class="btn btn-default"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Loguot</button>  
            </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="../../static/assets/img/find_user.png" class="user-image img-responsive"/>
                    </li>
                
                    
                    <li>
                        <a href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cog fa-3x"></i> Configuracion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'imagenes' %}">Contenido Slide</a>
                            </li>
                            <li>
                                <a href="#">Backup Base de Datos</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="#"><i class="fa fa-calculator fa-3x"></i> Facturacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'factura' %}">Crear Factura</a>
                            </li>
                            <li>
                                <a href="#">Consultar Factura</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book fa-3x" ></i> Reservaciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Control de Habitaciones</a>
                            </li>
                            <li>
                                <a href="{% url 'reservacion' %}">Crear Reservacion</a>
                            </li>
                            <li>
                                <a href="#">Consultar Reservacion</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a  href="{% url 'administracion_ui' %}"><i class="fa fa-users fa-3x"></i>Adm. Usuarios</a>
                    </li>  
                    <li>
                        <a class="active-menu"  href="{% url 'cliente' %}"><i class="fa fa-users fa-3x"></i>Adm. Clientes</a>
                    </li>
 
                </ul>
               
            </div>
            
        </nav>  

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h1>Administracion de Notificaciones</h1>  
                        <br>
                    </div>
                    
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Administracion de Notificaciones
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="mydate">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Remitente</th>
                                            <th>Celular</th>
                                            <th>Correo</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Remitente</th>
                                            <th>Celular</th>
                                            <th>Correo</th>
                                            <th>Opciones</th>
                                        </tr>
                                        {% for objeto in object_list %}
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>{{ objeto.fechaEnvio }}</td>
                                            <td>{{ objeto.nombresInvitado }}</td>
                                            <td>{{ objeto.celular }}</td>
                                            <td>{{ objeto.correo }}</td>
                                            <td>
                                                <a href="/notificaciones/ver/{{ objeto.id }}" ><span class="glyphicon glyphicon-eye-open"></span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>          
    </div>
             <!-- /. PAGE INNER  -->

 </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../../static/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../../static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../../static/assets/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="../../../static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="../../../static/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
    $('#mydate').dataTable();    
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="../../../static/assets/js/custom.js"></script>
    
   
</body>
</html>
