eeee{% extends 'Principal/base.html' %}
{% load staticfiles %}

{% block title %}
TABLAS
{% endblock title%}


{% block contenido1 %}
<p>
		<h1>	EJEMPLOS DE TABLAS </h1>
	</p>
	<p>
	<h2>	Lista de Imagenes </h2>
	</p>

	<table class="table table-bordered" >
	<tr class="success">
			<th><strong>Imagen</strong></th>
			<th><strong>Nombre</strong></th>
			<th><strong>Editar</strong></th>
	</tr>
{% for objeto in index %}
	<tr class="info">
		<td>{% if objeto.image %}<img src='{{objeto.image.url}}' class="img-responsive"/>{% endif %}</td>
		<td>{{ objeto.nombreImg }}</td>
		<td>
			<a href="/imagenes/editar/{{ objeto.id }}" ><span class="glyphicon glyphicon-cog"></span>
		</td>
	</tr>
{% endfor %}
	</table>

	<p>

{% endblock contenido1 %}