
{% extends 'Principal/administracion/index.html' %}
{% load static %}

{% block contenido1%}
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">El Remanso</a> 
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: left;font-size: 16px;"> 
            <button class="btn btn-default"><a href="/"><i class="fa fa-home"></i> Volver a Pagina Principal</button>
            </li>
            </div>

            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;"> 
            <button> <a class="fa fa-bell-o fa-2" href="{% url 'lista_notificacion' %}"></a> </button>
            {% if user.is_authenticated %}
            Hola {{user.username|capfirst}}
            <button class="btn btn-default"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Loguot</button> 
            {% else %}
            <button class="btn btn-default"><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</button>
            {% endif %}</li>
            </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="../../../static/images/logo.png" class="user-image img-responsive"/>
                    </li>


                    {% load auth_extras %}

                    {% if request.user|has_group:"Administrador" %}

                    <li>
                        <a  href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li>
                    <li>
                        <a  href="{% url 'usuario_administracion' %}"><i class="fa fa-users fa-3x"></i>Adm. Usuarios</a>
                    </li>  
                    <li>
                        <a   href="{% url 'cliente' %}"><i class="fa fa-users fa-3x"></i>Adm. Clientes</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bed fa-3x"></i>Adm. Habitacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tipo_habitacion' %}">Tipo de Habitacion</a>
                            </li>
                            <li>
                                <a href="{% url 'habitacion' %}">Habitacion</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cutlery fa-3x" ></i>Adm. Servicio<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tipo_servicio' %}">Tipo de Servicio</a>
                            </li>
                            <li>
                                <a href="{% url 'servicio' %}">Servicio</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'consultar_factura' %}"><i class="fa fa-calculator fa-3x"></i> Facturacion</a>                          </li>
                    <li>
                        <a href="{% url 'consultar_reservaciones' %}"><i class="fa fa-book fa-3x" ></i> Reservaciones</a>
                    </li> 
                    <li>
                        <a  class="active-menu"  href="{% url 'imagenes' %}"><i class="fa fa-cog fa-3x"></i> Configuracion</a>
                    </li> 
                      
                    {% else %}

                    {% if request.user|has_group:"Usuario" %}

                    <li>
                        <a class="active-menu" href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li> 
                    <li>
                        <a href="#"><i class="fa fa-calculator fa-3x"></i> Facturacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'factura' %}">Crear Factura</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book fa-3x" ></i> Reservaciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'reservacion' %}">Crear Reservacion</a>
                            </li>
                        </ul>
                    </li> 

                        {% endif %}
                    {% endif %}
 
                </ul>
               
            </div>
            
        </nav>  
{% endblock %}

{% block contenido2%}
<h1>Contenido de Slide</h1>   

{% endblock %}


{% block contenido3 %}

		
    <br>

	<table class="table table-bordered" >
	<tr >
			<th><strong>Imagen</strong></th>
			<th><strong>Nombre</strong></th>
			<th><strong>Editar</strong></th>
	</tr>
{% for objeto in imagenes %}
	<tr >
		<td>{% if objeto.image %}<img src='{{objeto.image.url}}' class="img-responsive"/>{% endif %}</td>
		<td>{{ objeto.nombreImg }}</td>
		<td>
			<a href="/imagenes/editar/{{ objeto.id }}" ><span class="glyphicon glyphicon-cog"></span>
		</td>
	</tr>
{% endfor %}
<!--End of Imagenes-->

{% endblock %}


