{% extends 'Principal/base.html'%}
{% load staticfiles %}

{% block menu%}

{% endblock %}

<p>
		<h1>	EJEMPLOS DE CLIENTE</h1>
	</p>

{% block contenido1%}
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	
	<button type="submit">Enviar</button>
	
</form>
{% endblock %}


