{% extends 'Principal/base.html'%}
{% load static %}

{% block menu%}
<!--#Menu-->
    {% if user.is_authenticated %}       
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="logout-inicio pull-right">
                    <ul class="list-inline">
                        <li><a href="#"><h4>Hola {{user.username|capfirst}}</h4></a> 
                        </li>
                        <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" fa-2x aria-hidden="true"></i></a> 
                        </li> 
                    </ul>  
                </div>
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li class="active"><a href="/">Inicio</a>
                                </li>
                                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'reservacion' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                        
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
        </div> 


    {% else %}
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li ><a href="/">Inicio</a>
                                </li>
                                <li class="active"><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
    </div> 

    {% endif %}
    
{% endblock %}

{% block contenido1%}
<!-- Our History -->
		<section id="history-section">
			<div class="inner-container container">
				<div class="ravis-title-t-2">
					<div class="title"><span>Reseña Historica</span></div>
					<div class="sub-title">Historia de nuestra Hosteria</div>
				</div>
			</div>
				<!-- History Main Container -->
				<div class="history-timeline clearfix">
					<!-- History Box ( You can create History boxes as much as you want! But Do Not change the classes and attributes ) -->
					<div class="history-boxes col-md-6 col-xs-6 animated-box" data-animation="fadeInLeft">
						<div class="history-boxes-inner">
							<i><img src="{% static 'images/remanso/historia.jpg' %}" class="img-responsive"/></i><!-- History's date (Do Not remove it) -->
							
							<!-- History's description -->
							<div class="history-content">
								<h4 class="text-justify">La Hostería “EL REMANSO” está ubicada en la parroquia Malacatos a 2km del centro parroquial en el barrio taxiche, es una empresa de carácter turística donde la funcionalidad es la atención al público en restaurant, hospedaje y áreas recreativas como son canchas deportivas, juegos infantiles, áreas verdes así como instalaciones de piscina para niños para adultos, además cuenta con hidromasaje, sauna e incluye parqueadero propio prestado la seguridad total a sus huéspedes.</h4>
							</div>
							<!-- end of History's description -->
						</div>
					</div>
					<!-- End of History box -->
					<div class="history-boxes col-md-6 col-xs-6 animated-box" data-animation="fadeInRight">
						<div class="history-boxes-inner">
							<i><img u="thumb" src="{% static 'images/remanso/historia1.jpg' %}" class="img-responsive" /></i>
							<div class="history-content">
								<h4 class="text-justify">La empresa nació el primero de noviembre del 2013 por el apoyo e unión de una familia que vieron la oportunidad para iniciarse en esta rama del turismo, iniciando primeramente con el restaurant luego de a poco se fue ampliando al servicio de hospedaje así como también de instalaciones que presten una atención propia para los lojanos y para quienes nos visitan de otras provincias. En la actualidad cuenta con un salón amplio para eventos con una capacidad de 150 personas, así mismo cuenta con 3 pérgolas con una cabida de 100 personas cada una de ellas con la finalidad de atender eventos sociales como: matrimonios, bautizos, cumpleaños, reuniones familiares e institucionales y a todos quienes quieren hacer uso los fines de semana al público en general.</h4>
							</div>
						</div>
					</div>
					<div class="history-boxes col-md-6 col-xs-6 animated-box" data-animation="fadeInLeft">
						<div class="history-boxes-inner">
							<i><img src="{% static 'images/remanso/historia.jpg' %}" class="img-responsive"/></i><!-- History's date (Do Not remove it) -->
							
							<!-- History's description -->
							<div class="history-content">
								<h4 class="text-justify">En cuanto al hospedaje la hostería cuenta con 12 habitaciones matrimoniales, además cuenta con habitaciones  dobles, triples, familiares con capacidad de 8 a 10 personas y estamos adecuando una habitación multi-familiar con todos los servicios. 
			    				Nuestro restaurant “la rueda” tiene una capacidad para 120 personas y ofrece menús variados cada fin de semana, además atención dentro de la semana así como sábados y domingos con platos a la carta, comida típica, nacional e internacional para lo cual contamos con 2 chef profesionales y personal debidamente calificado con atención esmerada y con comida de calidad.</h4>
							</div>
							<!-- end of History's description -->
						</div>
					</div>
				</div>
				<!-- End of Services Main Container -->

				<div class="inner-container container">
					<div class="ravis-title-t-2">
						<div class="sub-title">Mision y Vision</div>
					</div>
				</div>
				<!-- History Main Container -->
				<div class="history-timeline clearfix">
					<!-- History Box ( You can create History boxes as much as you want! But Do Not change the classes and attributes ) -->
					<div class="history-boxes col-md-6 col-xs-6 animated-box" data-animation="fadeInLeft">
						<div class="history-boxes-inner">
							<i>Misión</i><!-- History's date (Do Not remove it) -->
							<h2>Nuestra Misión</h2><!-- History's title -->
							<!-- History's description -->
							<div class="history-content">
								<H4 class="text-justify">Brindar el mejor servicio de alojamiento y alimentación, confort, descanso  y diversiones en cómodas instalaciones con un equipo de trabajo que  implementa buenas prácticas de turismo sostenible, pensando en la satisfacción de nuestros clientes.</H4>
							</div>
							<!-- end of History's description -->
						</div>
					</div>
					<!-- End of History box -->
					<div class="history-boxes col-md-6 col-xs-6 animated-box" data-animation="fadeInRight">
						<div class="history-boxes-inner">
							<i>Visión</i>
							<h2>Nuestra Visión</h2>
							<div class="history-content">
								<H4 class="text-justify">Catalogarse como una de las mejores hosterías en la zona sur del ecuador y darse a conocer a nivel nacional como internacional.</H4>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Services Main Container -->
			</div>
		</section>
	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
{% endblock %}