{% extends 'login.html'%}
{% load staticfiles %}

{% block staticos%}
{% endblock %}

{% block menu%}
{% endblock %}
 
{% block contenido1%}
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="form">
      
      <ul class="tab-group">
        <ul class="tab-group">
        <li class="tab active"><a href="{% url 'usuario' %}">Registrarse</a></li>
        <li class="tab "><a href="{% url 'login' %}">Iniciar Sesion</a></li>
      
      </ul>
      
      <div class="tab-content">
        <h1>Registrate</h1>
          <form method="post">
            {% csrf_token %}
            <h3>Datos de Autentificacion</h3>
            <div class="field-wrap">
             <label name="username">Usuario<span class="req">*</span>
            </label>
            <input name="username" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="password">
            Contrasena<span class="req">*</span>
            </label>
            <input name="password" type="password" required autocomplete="off"/>
            </div>
            <h3>Datos Personales</h3>
            <div class="field-wrap">
             <label name="nombreCompleto">Nombres y Apellidos<span class="req">*</span>
            </label>
            <input name="nombreCompleto" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
             <label name="CI_Ruc">Cedula o RUC<span class="req">*</span>
            </label>
            <input name="CI_Ruc" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="email">Correo<span class="req">*</span>
            </label>
            <input name="email" type="text" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
             <label name="telefono">Telefono<span class="req">*</span>
            </label>
            <input name="telefono" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="direccion">Direccion<span class="req">*</span>
            </label>
            <input name="direccion" type="text" required autocomplete="off"/>
            </div>
            
           <button class="button button-block" type="submit">Guardar</button>
          </form>    	        
      </div><!-- tab-content --> 
</div> <!-- /form -->
<script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>

{% endblock %}

{% block footer%}
{% endblock %}  