<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>

{% block title%}
<title>Hosteria "EL REMANSO"</title>
{% endblock %} 

{% block staticos%}
{% endblock staticos%}

  <meta charset="UTF-8">
  <!-- Website's title ( it will be shown in browser's tab ), Change the website's title based on your Hotel information -->
  <meta name="description" content="Colosseum Hotel is a responsive Hotel and Resort HTML template.">
  <!-- Add your Hotel short description -->
  <meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
  <!-- Add some Keywords based on your Hotel and your business and separate them by comma -->
  <meta name="author" content="Joseph a, ravistheme@gmail.com">
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic%7cPlayfair+Display:400,700%7cGreat+Vibes'
      rel='stylesheet' type='text/css'><!-- Attach Google fonts -->

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body class="booking">
  <div class="main-wrapper">

{% block menu%}
<!--#Menu-->
    <div class="main-wrapper">
        <!-- Header Section -->
        <header id="main-header">
            <div class="inner-container container">
                <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                    <a href="#" id="t-logo">
                        <span class="desc">Hostería</span>
                        <span class="title">El REMANSO</span>
                    </a>
                </div>
                <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                    <nav id="main-menu">
                        <ul class="list-inline">
                            <li class="active"><a href="/">Inicio</a>
                            </li>
                            <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                            </li>
                            <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                            </li>
                            <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                            </li>
                            <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                            </li>
                            <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                        </ul>
                    </nav>
                    
            </div>
            <div id="mobile-menu-container"></div>
        <!-- End of Header Section --> 
        </header> 
    </div> 
{% endblock %}

{% block menu2%}
<!--Breadcrumb Section-->
    <section id="breadcrumb-section" data-bg-img="{% static 'images/remanso/hospedaje.jpeg' %}">
      <div class="inner-container container">
        <div class="ravis-title">
          <div class="inner-box">
            <div class="title">Reservaciones</div>
            <div class="sub-title">Check the availability of our rooms</div>
          </div>
        </div>
        <div class="breadcrumb">
          <ul class="list-inline">
            <li><a href="{% url 'reservacion' %}">Inicio</a></li>
            <li class="current"><a href="#">Reservaciones</a></li>
            </li>
            <li class="current">
              {% if user.is_authenticated %}
            Hola {{user.username|capfirst}}
            </li>
            <li>
            <a href="{% url 'reservacion4' %}">next</a>
            <li>
            <a href="{% url 'logout' %}">Salir</a>
            {% else %}
            <a href="{% url 'login' %}">login</a>
            {% endif %}</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End of Breadcrumb Section-->
{% endblock %}


{% block contenido3%}

		<section id="booking-section" class="step-3">
			<div class="inner-container container">
				<div class="col-md-4 l-sec">
					<div class="ravis-title-t-2">
						<div class="title"><span>Reservation Information</span></div>
					</div>
					<div class="check-in-out-container">
						<div class="check-in-out-box">
							<div class="title">Check In :</div>
							<div class="value">27-07-2016</div>
						</div>
						<div class="check-in-out-box">
							<div class="title">Check Out :</div>
							<div class="value">30-07-2016</div>
						</div>
					</div>

					<div class="selected-room-container">
						<div class="selected-room-box">
							<div class="room-title">
								<div class="title">Room 1 :</div>
								<div class="value">Deluxe Suite</div>
							</div>
							<div class="adult-count">
								<div class="title">Adult :</div>
								<div class="value">2</div>
							</div>
							<div class="child-count">
								<div class="title">Children :</div>
								<div class="value">0</div>
							</div>
							<div class="price">$280.00</div>
						</div>
						<div class="selected-room-box">
							<div class="room-title">
								<div class="title">Room 2 :</div>
								<div class="value">King Suite</div>
							</div>
							<div class="adult-count">
								<div class="title">Adult :</div>
								<div class="value">3</div>
							</div>
							<div class="child-count">
								<div class="title">Children :</div>
								<div class="value">1</div>
							</div>
							<div class="price">$340.00</div>
						</div>
					</div>

					<div class="price-details-container">
						<div class="price-detail-box">
							<div class="title">Rooms &amp; Services :</div>
							<div class="value">$1,217.00</div>
						</div>
						<div class="price-detail-box">
							<div class="title">Vat 8% :</div>
							<div class="value">$117.00</div>
						</div>
						<div class="price-detail-box total">
							<div class="title">Total Price :</div>
							<div class="value">$1,334.00</div>
						</div>
						<div class="payment-method">
							<div class="ravis-radio">
								<label for="full-payment">
									<input type="radio" name="payment-method" value="1" id="full-payment">
									<span></span>
									Full Payment
								</label>
							</div>
							<div class="ravis-radio">
								<label for="deposit">
									<input type="radio" name="payment-method" value="2" id="deposit" checked>
									<span></span>
									20% Deposit
								</label>
							</div>
						</div>
						<div class="deposit-price">
							<div class="title-box">
								<div class="title">20% Deposit</div>
								<div class="sub-title">Pay the rest on arrival</div>
							</div>
							<div class="value">$933.80</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 r-sec">
					<div class="inner-box">
						<div class="steps">
							<ul class="list-inline">
								<li>Choose Date</li>
								<li>Choose Room</li>
								<li class="active">Make a Reservation</li>
								<li>Confirmation</li>
							</ul>
						</div>

						<div id="booking-guest-info-form">
							<form action="#">
								<div class="field-row clearfix">
									<div class="col-md-6">
										<input type="text" placeholder="First Name :" required>
									</div>
									<div class="col-md-6">
										<input type="text" placeholder="Last Name :" required>
									</div>
								</div>
								<div class="field-row clearfix">
									<div class="col-md-6">
										<input type="text" placeholder="Phone :" required>
									</div>
									<div class="col-md-6">
										<input type="email" placeholder="Email :" required>
									</div>
								</div>
								<div class="field-row clearfix">
									<input type="text" placeholder="Address :">
								</div>
								<div class="field-row clearfix">
									<textarea placeholder="Special Requirements : "></textarea>
								</div>
								<div class="field-row clearfix">
									<div class="ravis-checkbox">
										<label for="terms-condition">
											<input type="checkbox" name="terms" value="1" id="terms-condition" required>
											<span></span>
											I have read and accept the <a href="#">terms and conditions</a>.
										</label>
									</div>
								</div>
								<div class="field-row btn-container clearfix">
									<button class="by-email" type="submit">Book By Email</button>
									<button class="by-paypal">Book and Pay By PayPal</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</section>
{% endblock %}
</div>
	<!-- JS Include Section -->
	<script type="text/javascript" src="../assets/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../assets/js/helper.js"></script>
	<script type="text/javascript" src="../assets/js/select2.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../assets/js/template.js"></script>
</body>
</html>