<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>

{% block title%}
<title>Hosteria "EL REMANSO"</title>
{% endblock %} 


  <meta charset="UTF-8">
  <!-- Website's title ( it will be shown in browser's tab ), Change the website's title based on your Hotel information -->
  <meta name="description" content="Colosseum Hotel is a responsive Hotel and Resort HTML template.">
  <!-- Add your Hotel short description -->
  <meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
  <!-- Add some Keywords based on your Hotel and your business and separate them by comma -->
  <meta name="author" content="Joseph a, ravistheme@gmail.com">
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic%7cPlayfair+Display:400,700%7cGreat+Vibes'
      rel='stylesheet' type='text/css'><!-- Attach Google fonts -->

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/template.js' %}"></script>

  <script type="text/javascript">
    
    $(document).ready(function(){
      
      $("#anidir").click(function(){
        var tipo = $("#tipos");
        var texto = $("#tipos option:selected").text();
        var tabla = document.getElementById("tabla");
        
        if(tabla.rows.length == 0) {
          
          agregarFila(tabla, texto);

        }else{
          //alert('dos');
          var aux = texto.split(' - ');
          var arreglo = recorrerTabla(tabla);
          var pos = buscar(tabla, texto);
          if(pos == -1) {
            agregarFila(tabla, texto);
          }else{
            var auxP = arreglo[pos];
            
            auxP[0] = (auxP[0]*1) + 1;
            auxP[3] = (auxP[0]*1) * (auxP[2]*1);
            arreglo[pos] = auxP;
            pintarTabla(tabla, arreglo);
          }
        }
        
        //datosReserva
      });
      
      function pintarTabla(tabla, arreglo) {
        var data = '';
        var datitos = '';
        for(var i = 0; i < arreglo.length; i++) {
          var aux = arreglo[i];
        
          data = data + "<tr><td>"+aux[0]+"</td><td>"+aux[1]+"</td><td>"+aux[2]+"</td><td>"+aux[3]+"</td></tr>";
          datitos = datitos + aux[0] + ":" + aux[1]+ ":" + aux[2]+ ":" + aux[3]+";"; 
        }
        tabla.innerHTML = data;
        var hid = document.getElementById("datosReserva");
        hid.value = datitos;
        
      }

      function buscar(tabla, texto) {
        var pos = -1;
        var aux = texto.split(' - ');
        for(var i = 0; i < tabla.rows.length; i++) {
          
          if(tabla.rows[i].cells[1].innerHTML == aux[0]) {
            pos = i;
            break;
          }
        }
        return pos;
      }

      function recorrerTabla(tabla) {
        var arrglo = [];
        for(var i = 0; i < tabla.rows.length; i++) {
          arrglo[i] = [tabla.rows[i].cells[0].innerHTML,tabla.rows[i].cells[1].innerHTML, tabla.rows[i].cells[2].innerHTML];
        }
        return arrglo;
      }

      function agregarFila(tabla, texto) {
        var aux = texto.split(' - ');
        var valor = aux[1].split(',');
        var row = tabla.insertRow(0);
        var cell = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        cell.innerHTML = "1";
        cell1.innerHTML = aux[0];
        cell2.innerHTML = valor[0]+'.'+valor[1];
        cell3.innerHTML = valor[0]+'.'+valor[1];
        var datitos = '';
        datitos = "1"+ ":" + aux[0]+ ":" + valor[0]+'.'+valor[1]+ ":" + valor[0]+'.'+valor[1]+";";
          var hid = document.getElementById("datosReserva");
          hid.value = datitos;
          alert(hid.value);
      }

    });

  </script>
</head>
<body class="booking">
  <div class="main-wrapper">


{% block menu%}
<!--#Menu-->
    <div class="main-wrapper">
        <!-- Header Section -->
        <header id="main-header">
            <div class="inner-container container">
                <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                    <a href="#" id="t-logo">
                        <span class="desc">Hostería</span>
                        <span class="title">El REMANSO</span>
                    </a>
                </div>
                <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                    <nav id="main-menu">
                        <ul class="list-inline">
                            <li class="active"><a href="/">Inicio</a>
                            </li>
                            <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                            </li>
                            <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                            </li>
                            <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                            </li>
                            <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                            </li>
                            <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                        </ul>
                    </nav>
                    
            </div>
            <div id="mobile-menu-container"></div>
        <!-- End of Header Section --> 
        </header> 
    </div> 
{% endblock %}



{% block menu2%}
<!--Breadcrumb Section-->
    <section id="breadcrumb-section" data-bg-img="{% static 'images/remanso/hospedaje.jpeg' %}">
      <div class="inner-container container">
        <div class="ravis-title">
          <div class="inner-box">
            <div class="title">Reservaciones</div>
            <div class="sub-title">Bienvenido</div>
          </div>
        </div>
        <div class="breadcrumb">
          <ul class="list-inline">
            <li><a href="{% url 'reservacion' %}">Inicio</a></li>
            <li class="current"><a href="#">Reservaciones</a></li>
            </li>
            <li class="current">
              {% if user.is_authenticated %}
            Hola {{user.username|capfirst}}
            </li>
            <li>
            <a href="{% url 'reservacion2' %}">next</a>
            <li>
            <a href="{% url 'logout' %}">Salir</a>
            {% else %}
            <a href="{% url 'login' %}">login</a>
            {% endif %}</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End of Breadcrumb Section-->
{% endblock %}


{% block contenido1%}
    <section id="booking-section" class="step-1">
      <div class="inner-container container">
        <div class="col-md-4 l-sec">
          <div class="ravis-title-t-2">
            <div class="title"><span>Información de Reservación</span></div>
          </div>

          <div class="field-row room-field" id="room-field-tmpl">
          </div>
          <form id="room-information-form" action="#"><!-- Do Not remove the classes -->
            <div class="input-daterange">
              <div class="field-row check-in">
                <input type="hidden" name="check-in"/>
                <div class="check-in-box">
                  <div class="title">Fecha Inicio :</div>
                  <div class="value">Escoger Fecha</div>
                </div>
              </div>
              <div class="field-row check-out">
                <input type="hidden" name="check-out"/>
                <div class="check-out-box">
                  <div class="title">Fecha Fin :</div>
                  <div class="value">Escoger Fecha</div>
                </div>
              </div>
              <div class="field-row duration">
                <input type="hidden" name="duration"/>
                <div class="duration-box">
                  <div class="title">Duración :</div>
                  <div class="value">Escoger Fecha</div>
                </div>
              </div>
            </div>
            <div class="field-row">
              <select name="rooms" class="room-count" id="tipos">                            
                                     
              {% for tipo in object_list %}
                                    
              <option value="{{ tipo.id }}">{{ tipo.nombre_tipo }} - {{ tipo.precio_tipo }}</option>
              {% endfor %}
        
              </select>
            </div>
            <div class="room-field-container"></div>
            <div class="field-row btn-container">
            <a href="#" id="anidir">Añadir</a>
            <br>
              <div id="tablas">
                <table class="table-responsive" id="tabla"></table>
                <input type="hidden" name="reserva" id="datosReserva" />
              </div>
              
            </div>
            <div class="room-field-container"></div>
            <div class="field-row btn-container">
              <input href="{% url 'reservacion4' %}" type="submit" value="Book Now">
            </div>
          </form>
        </div>
        <div class="col-md-8 r-sec">
          <div class="inner-box">
            <div class="steps">
              <ul class="list-inline">
                <li class="active">Escoger Fecha</li>
                <li>Escoger Habitación</li>
                <li>Realizar Reservación</li>
                <li>Confirmación</li>
              </ul>
            </div>
            <div id="booking-date-range-inline" class="clearfix">
              <div class="check-in col-md-6" name="start"></div>
              <div class="check-out col-md-6" name="end"></div>
            </div>
          </div>
        </div>
      </div>

    </section>
{% endblock %}

{% block contenido2%}

{% endblock %}

{% block contenido3%}

{% endblock %}
           
{% block contenido4%}
{% endblock %}                 
  
{% block footer%}
    <!--Footer Section-->
    <footer id="main-footer">
      <div class="inner-container container">
        <div class="t-sec clearfix">
          <div class="widget-box col-sm-2 col-md-2">
            <div class="widget-content text-widget">
            <a href="#" id="t-logo">
            <img class="img-responsive" src="{% static 'images/logo.png' %}">
            <!-- <span class="desc">Hostería</span>
            <span class="title">El REMANSO</span> -->
            </a>
            </div>
          </div>
          <div class="widget-box col-sm-6 col-md-6">
            <h4 class="title" ALIGN=center>Te Esperamos</h4>
            <div class="widget-content newsletter">
              <div class="desc">
              <h3 ALIGN=center>Ven y disfruta con nosotros en este paradiciaco clima de la parroquia Malacatos.</h3>
              </div>
            </div>
          </div>
          <div class="widget-box col-sm-4 col-md-4">
            <h4 class="title">Contactos</h4>
            <div class="widget-content contact">
              <ul class="contact-info">
                <li>
                  <i class="fa fa-home"></i>
                  Entre Landangui y Taxiche (Sector Taxiche)
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  * 07 2572229 * 07 267440 * 0997535280 *
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  elremansohosteria@gmail.com
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="b-sec clearfix">
          <div class="copy-right">
            With <i class="fa fa-heart"></i> by <a href="http://ravistheme.com"
                                 target="_blank">RavisTheme</a> © 2016. All Rights
            Reserved.
          </div>
          <ul class="social-icons list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
{% endblock %}   

</div>
<!-- JS Include Section -->
  
</body>

</html>








