{% extends 'Principal/base.html'%}
{% load staticfiles %}

{% block menu%}
<!--#Menu-->
    {% if user.is_authenticated %}       
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="logout-inicio pull-right">
                    <ul class="list-inline">
                        <li><a href="#"><h4>Hola {{user.username|capfirst}}</h4></a> 
                        </li>
                        <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" fa-2x aria-hidden="true"></i></a> 
                        </li> 
                    </ul>  
                </div>
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li class="active"><a href="/">Inicio</a>
                                </li>
                                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'reservacion' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                        
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
        </div> 


    {% else %}
    <div class="main-wrapper">
            <!-- Header Section -->
            <header id="main-header">
                <div class="inner-container container">
                    <div class="l-sec col-xs-8 col-sm-6 col-md-3">
                        <a href="#" id="t-logo">
                            <span class="desc">Hostería</span>
                            <span class="title">El REMANSO</span>
                        </a>
                    </div>
                    <div class="r-sec col-xs-4 col-sm-6 col-md-9">
                        <nav id="main-menu">
                            <ul class="list-inline">
                                <li ><a href="/">Inicio</a>
                                </li>
                                <li ><a href="{% url 'quienes_somos' %}">Quienes Somos</a>
                                </li>
                                <li ><a href="{% url 'habitaciones' %}">Habitaciones</a>
                                </li>
                                <li class="active"><a href="{% url 'mostrar_servicios' %}">Servicios</a>
                                </li>
                                <li><a href="{% url 'mostrar_galeria' %}">Galería</a>
                                </li>
                                <li ><a href="{% url 'mostrar_contactos' %}">Contactos</a></li>
                            </ul>
                        </nav>
                        <div id="main-menu-handle" class="ravis-btn btn-type-2"><i class="fa fa-bars"></i><i class="fa fa-close"></i></div><!-- Mobile Menu handle -->
                        <a href="{% url 'login' %}" id="header-book-bow" class="ravis-btn btn-type-2"><span>Reservaciones</span> <i class="fa fa-calendar"></i></a>
                    </div>
                </div>
                <div id="mobile-menu-container"></div>
            <!-- End of Header Section --> 
            </header> 
    </div> 

    {% endif %}
    
{% endblock %}

{% block contenido1%}

<!--Staff Section-->
<section id="rooms-section" class="row-view">
			<div class="inner-container container">
				
		<section id="staff-section">
			<div class="inner-container container">
			<div class="ravis-title-t-2">
					<div class="title"><span>Servicios</span></div>
				</div>
				<div class="row staff-row">
					<div class="staff-box col-md-6 animated-box" data-animation="fadeInLeft">
						<div class="staff-box-inner">
							<div class="inner-box">
								<div class="staff-img col-md-6">
									<img src="{%  static 'images/remanso/servicioPiscina1.jpg' %}" >
								</div>
								<div class="staff-info col-md-6">
									<div class="ravis-title-t-1">
										<div class="title"><span>Piscina</span></div>
										<div class="sub-title">Hotel Manager</div>
									</div>
									<div class="desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt
										eligendi esse ex fugiat!
									</div>
									<div class="social-icons">
										<ul class="list-inline">
											<li><a href="#"><i class="glyphicon glyphicon-tint"></i></a></li>
											<li><a href="#"><i class="fa fa-wifi"></i></a></li>
											<li><a href="#"><i class="icon-snorkel-diving"></i></a></li>
											<li><a href="#"><i class="icon-pool"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clear-box"></div>
							</div>
						</div>
					</div>
					<div class="staff-box col-md-6 animated-box" data-animation="fadeInRight">
						<div class="staff-box-inner">
							<div class="inner-box">
								<div class="staff-img col-md-6">
									<img src="{%  static 'images/remanso/servicioCancha.jpg' %}" >
								</div>
								<div class="staff-info col-md-6">
									<div class="ravis-title-t-1">
										<div class="title"><span>Cancha Deportiva</span></div>
										<div class="sub-title">Associate Director of Sales</div>
									</div>
									<div class="desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt
										eligendi esse ex fugiat!
									</div>
									<div class="social-icons">
										<ul class="list-inline">
											<li><a href="#"><i class="fa fa-futbol-o"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clear-box"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row staff-row">
					<div class="staff-box col-md-6 animated-box" data-animation="fadeInLeft">
						<div class="staff-box-inner">
							<div class="inner-box">
								<div class="staff-img col-md-6">
									<img src="{%  static 'images/remanso/servicioPiscina1.jpg' %}" alt="Adam Smith">
								</div>
								<div class="staff-info col-md-6">
									<div class="ravis-title-t-1">
										<div class="title"><span>Restaurant</span></div>
										<div class="sub-title">Hotel Manager</div>
									</div>
									<div class="desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt
										eligendi esse ex fugiat!
									</div>
									<div class="social-icons">
										<ul class="list-inline">
											<li><a href="#"><i class="glyphicon glyphicon-tint"></i></a></li>
											<li><a href="#"><i class="fa fa-wifi"></i></a></li>
											<li><a href="#"><i class="icon-snorkel-diving"></i></a></li>
											<li><a href="#"><i class="icon-pool"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clear-box"></div>
							</div>
						</div>
					</div>
					<div class="staff-box col-md-6 animated-box" data-animation="fadeInRight">
						<div class="staff-box-inner">
							<div class="inner-box">
								<div class="staff-img col-md-6">
									<img src="{%  static 'images/remanso/servicioCancha.jpg' %}" alt="Carolyn Scott">
								</div>
								<div class="staff-info col-md-6">
									<div class="ravis-title-t-1">
										<div class="title"><span>Sauna</span></div>
										<div class="sub-title">Associate Director of Sales</div>
									</div>
									<div class="desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt
										eligendi esse ex fugiat!
									</div>
									<div class="social-icons">
										<ul class="list-inline">
											<li><a href="#"><i class="fa fa-futbol-o"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clear-box"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row staff-row">
					<div class="staff-box col-md-6 animated-box" data-animation="fadeInLeft">
						<div class="staff-box-inner">
							<div class="inner-box">
								<div class="staff-img col-md-6">
									<img src="{%  static 'images/remanso/servicioPiscina1.jpg' %}" alt="Adam Smith">
								</div>
								<div class="staff-info col-md-6">
									<div class="ravis-title-t-1">
										<div class="title"><span>Hidromasaje</span></div>
										<div class="sub-title">Hotel Manager</div>
									</div>
									<div class="desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt
										eligendi esse ex fugiat!
									</div>
									<div class="social-icons">
										<ul class="list-inline">
											<li><a href="#"><i class="glyphicon glyphicon-tint"></i></a></li>
											<li><a href="#"><i class="fa fa-wifi"></i></a></li>
											<li><a href="#"><i class="icon-snorkel-diving"></i></a></li>
											<li><a href="#"><i class="icon-pool"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clear-box"></div>
							</div>
						</div>
					</div>
					<div class="staff-box col-md-6 animated-box" data-animation="fadeInRight">
						<div class="staff-box-inner">
							<div class="inner-box">
								<div class="staff-img col-md-6">
									<img src="{%  static 'images/remanso/servicioCancha.jpg' %}" alt="Carolyn Scott">
								</div>
								<div class="staff-info col-md-6">
									<div class="ravis-title-t-1">
										<div class="title"><span>Parqueadero</span></div>
										<div class="sub-title">Associate Director of Sales</div>
									</div>
									<div class="desc">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt
										eligendi esse ex fugiat!
									</div>
									<div class="social-icons">
										<ul class="list-inline">
											<li><a href="#"><i class="fa fa-futbol-o"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="clear-box"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- Pagination -->
				<div class="pagination-box">
					<ul class="list-inline">
						<li class="active"><a href="#"><span>1</span></a></li>
						<li><a href="#"><span>2</span></a></li>
						<li><a href="#"><span>3</span></a></li>
					</ul>
				</div>
				<!-- End of Pagination -->
			</div>
		</section>
		</div>
		</section>
		<!--End of Staff Section-->
	<!-- JS Include Section -->
	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
{% endblock %}



		
