﻿<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% block title%}
<title>Administracion</title>
{% endblock %}
      <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- BOOTSTRAP STYLES-->
    <link href="../../../static/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="../../../static/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="../../../static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="../../../static/assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
</head>
<body>
    <div id="wrapper">

{% block contenido1%}
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">El Remanso</a> 
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: left;font-size: 16px;"> 
            <button class="btn btn-default"><a href="/"><i class="fa fa-home"></i> Volver a Pagina Principal</button>
            </li>
            </div>

            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;"> 
            <button> <a class="fa fa-bell-o fa-2" href="{% url 'lista_notificacion' %}"></a> </button>
            {% if user.is_authenticated %}
            Hola {{user.username|capfirst}}
            <button class="btn btn-default"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Loguot</button> 
            {% else %}
            <button class="btn btn-default"><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</button>
            {% endif %}</li>
            </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="../../../static/images/logo.png" class="user-image img-responsive"/>
                    </li>


                    {% load auth_extras %}

                    {% if request.user|has_group:"Administrador" %}

                    <li>
                        <a class="active-menu" href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li>
                    <li>
                        <a  href="{% url 'usuario' %}"><i class="fa fa-users fa-3x"></i>Adm. Usuarios</a>
                    </li>  
                    <li>
                        <a  href="{% url 'cliente' %}"><i class="fa fa-users fa-3x"></i>Adm. Clientes</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bed fa-3x"></i>Adm. Habitacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tipo_habitacion' %}">Tipo de Habitacion</a>
                            </li>
                            <li>
                                <a href="{% url 'habitacion' %}">Habitacion</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cutlery fa-3x" ></i>Adm. Servicio<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'tipo_servicio' %}">Tipo de Servicio</a>
                            </li>
                            <li>
                                <a href="{% url 'servicio' %}">Servicio</a>
                            </li>
                        </ul>
                    </li> 
                    <li>
                        <a href="{% url 'consultar_factura' %}"><i class="fa fa-calculator fa-3x"></i> Facturacion</a>                          </li>
                    <li>
                        <a href="{% url 'consultar_reservaciones' %}"><i class="fa fa-book fa-3x" ></i> Reservaciones</a>
                    </li> 
                     <li>
                        <a href="{% url 'imagenes' %}"><i class="fa fa-cog fa-3x"></i> Configuracion</a>
                    </li> 
                      
                    {% else %}

                    {% if request.user|has_group:"Usuario" %}

                    <li>
                        <a class="active-menu" href="{% url 'administracion' %}"><i class="fa fa-home fa-3x"></i>Inicio</a>
                    </li> 
                    <li>
                        <a href="#"><i class="fa fa-calculator fa-3x"></i> Facturacion<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'factura' %}">Crear Factura</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book fa-3x" ></i> Reservaciones<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'reservacion' %}">Crear Reservacion</a>
                            </li>
                        </ul>
                    </li> 

                        {% endif %}
                    {% endif %}
 
                </ul>
               
            </div>
            
        </nav>  
{% endblock %}


<!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                    {% block contenido2%}
                     <h1>Administración</h1>   
                        
                    {% endblock %}
                    </div>
                </div>  


{% block contenido3%}
 <!-- /. ROW  -->
                <hr />
                <div class="row">

                <div class="col-md-12 text-center">

                       <img class="image-responsive" src="../../../static/images/remanso/recepcion.jpeg">


                    </div>      
                </div>
             <!-- /. PAGE INNER  -->
            </div>
           
{% endblock %}
           

                   
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../../static/assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../../static/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../../static/assets/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="../../../static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../../../static/assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="../../../static/assets/js/custom.js"></script>
    
   
</body>
</html>
