{% extends 'login.html'%}
{% load static %}


{% block contenido1 %}
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">
  <div class="form">
      <ul class="tab-group">
      <button class="button button-block" >Sesion Cerrada</button>
      </ul>
      <div class="tab-content">
        <h1>Su cuenta a sido cerrada exitosamente</h1> 
        </div> 
        <div align="center">
        
        <ul class="tab-group">
        <li class="tab "><a href="{% url 'login' %}">Ingresar de nuevo</a></li>
        <li class="tab "><a href="{% url 'index' %}">Ver pagina Principal</a></li>                 
        </div>
      </div><!-- tab-content -->
</div> <!-- /form -->
<script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>
{% endblock %}


