<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
{% block title%}
<title>Autentificacion</title>
{% endblock %}
  
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>

{% block contenido1 %}

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">

  <div class="form">
      <ul class="tab-group">
        <li class="tab "><a href="{% url 'registrar' %}">Registrarse</a></li>
        <li class="tab active"><a href="{% url 'login' %}">Iniciar Sesion</a></li>
      </ul>
      
      <div class="tab-content">
        <h1>Inicio de sesion</h1>
          <form  method="post">

            {% csrf_token %}
            
            <div class="field-wrap">
              <label name="username">
                Usuario<span class="req">*</span>
              </label>
              <input name="username" type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
            <label name="password">
              Contrasena<span class="req">*</span>
            </label>
            <input name="password" type="password" required autocomplete="off"/>
            </div>
            
            <br>
            <p class="forgot"><a href="{% url 'password_reset'%}">Olvidaste tu contrasena?</a></p>

            <button class="button button-block" type="submit">Iniciar Sesion</button>
          </form>  
      </div><!-- tab-content -->
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>


{% endblock %}
</body>
</html>





  
