
{% extends 'login.html' %}
{% load static %}

{% block contenido1 %}

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">

  <div class="form">
      
      
      <div class="tab-content">
        <h1>Recuperar Contrasena</h1>
          <form>
            <div class="field-wrap">
            <a>Te hemos enviado un correo con un enlace para reestablecer tu contrasena</a> 
            </div>
          </form>  
      </div><!-- tab-content -->
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>


{% endblock %}