{% extends 'Principal/base.html' %}
{% block navbar %}
{% endblock %}
{% block contenido1 %}



{% endblock %}

{% extends 'login.html' %}
{% load static %}

{% block contenido1 %}

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
<link rel="stylesheet" href="{% static 'css/login.css' %}">

  <div class="form">
      
      
      <div class="tab-content">
        <h1>Recuperar Contrasena</h1>
          <form>
            <div class="field-wrap">
              {% if validlink %}

				<h1>Ingresa tu nueva contrasena</h1>

				<form>
					<h1 class="text-center">Su contrasena se restablecio correctamente</h1>
					<p class="text-center"><a href="{% url 'login' %}">Iniciar Sesion</a></p>	
				</form>
            </div>
          </form>  
      </div><!-- tab-content -->
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/login.js' %}"></script>


{% endblock %}